<?xml version="1.0"?>
<launch>

    <arg name="in_odom_topic" default="/odom"/>
    <arg name="out_odom_topic" default="/odom/throttled"/>
    <arg name="distance_threshold" default="0.05"/>
    <arg name="rotation_threshold" default="0.1"/>

    <node pkg="turtlebot_interface" name="odom_throttle_node" type="odom_throttle_node" output="screen">
        <param name="in_odom_topic" value="/odom"/>
        <param name="out_odom_topic" value="/odom/throttled"/>
        <param name="distance_threshold" value="0.05"/>
        <param name="rotation_threshold" value="0.1"/>
    </node>

</launch>
