<?xml version="1.0"?>
<launch>

    <arg name="depthmap_path" default="$(find graph_slam)/test/test_maps_293.png"/>
    <arg name="pcd_save_path" default="$(find graph_slam)/test/"/>

    <node pkg="graph_slam" name="depth_to_pc_test_node" type="depth_to_pc_test_node" output="screen">
        <rosparam file="$(find graph_slam)/config/intrinsics.yaml"/>
        <param name="depthmap_path" value="$(arg depthmap_path)"/>
        <param name="pcd_save_path" value="$(arg pcd_save_path)"/>
    </node>

</launch>
