<?xml version="1.0"?>
<launch>

    <include file="$(find turtlebot_interface)/launch/odom_throttle_node.launch">
        <arg name="distance_threshold" default="0.2"/>
        <arg name="rotation_threshold" default="0.3"/>
    </include>
    <include file="$(find graph_slam)/launch/publish_pointcloud_from_depthmap_node.launch"/>
        <arg name="subsample_factor" default="32"/>
    <include file="$(find graph_slam)/launch/create_map_node.launch"/>
    
    <!--yaw, pitch, roll-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_oak_broadcaster" 
    args="0 0.1 0.1 -1.5708 0 -1.5708 base_link OAK-D-right"/>

</launch>
